* {
    margin: 0;
    padding: 0;
}

.nav-color {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgb(184, 136, 216) 0%, rgb(218, 151, 215) 50%, rgba(252, 176, 69, 1) 100%);
}

.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}